thead{
    background-color: chartreuse;
    
}
tbody{
    background-color: dodgerblue;
}
tfoot{
background-color: hotpink;
}
table{
    border: 5px solid yellow;
    width: 100%;
    border-collapse:separate;
}

td,th{
    border: 3px solid brown;
    text-align: center;
    border-radius: 40px;
}